<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="/static/css/style_about.css">
    <link rel="icon" type="image/png" href="/static/img/fav_icon.png"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="about_bg">
        <div class="container">
            <div class="nav_div">
                <h1>Lung Cancer Detector</h1>
                <nav>
                    <a href="/" title="Home" aria-label="Home"><i class="fa-solid fa-house-chimney"></i></a>
                    <a href="/predict" title="Predict" aria-label="Predict"><i class="fa-solid fa-magnifying-glass-chart bi"></i></a>
                    <a class="s" href="/about" title="About" aria-label="About"><i class="fa-solid fa-circle-info bi"></i></a>
                    <a href="/contact" title="Contact Us" aria-label="Contact Us"><i class="fa-solid fa-address-card bi"></i></a>
                </nav>
            </div>
            <div class="about_main">
                <h1>What Is Lung Cancer?</h1>
                <p>Lung cancer is a type of cancer that starts in the lungs.</p>
                <ul>
                    <li><a href="#sec1">Normal structure and function of the lungs</a></li>
                    <li><a href="#sec2">Types of lung cancer</a></li>
                </ul>
                
                <h2 id="sec1">Normal structure and function of the lungs</h2>
                <p>Your lungs are 2 sponge-like organs in your chest that are separated into sections called <b>lobes</b>. 
                    Your right lung has 3 <b>lobes</b>. Your left lung has 2 <b>lobes</b>. 
                    The left lung is smaller because the heart takes up more room on that side of the body.</p>

                <p>When you inhale (breathe in), air enters through your mouth or nose and goes into your lungs through the <b>trachea</b> (windpipe). 
                    The trachea divides into tubes called <b>bronchi</b>, which enter the lungs and divide into smaller bronchi. 
                    These divide to form smaller branches called <b>bronchioles</b>. 
                    At the end of the bronchioles are tiny air sacs known as <b>alveoli</b>.</p>

                <p>The alveoli absorb oxygen into your blood from the inhaled air and remove carbon dioxide from the blood when you exhale (breathe out). 
                    Taking in oxygen and getting rid of carbon dioxide are your lungs’ main functions.</p>

                
                <img src="/static/img/t9sqoame.png" alt="Lung Anatomy">    
                
                <p>A thin lining layer called the <b>pleura</b> surrounds the lungs. 
                    The pleura protects your lungs and helps them slide back and forth against the chest wall as they expand and contract during breathing.</p>

                <p>Below the lungs, a thin, dome-shaped muscle called the <b>diaphragm</b> separates the chest from the abdomen. 
                    When you breathe, the diaphragm moves up and down, forcing air in and out of the lungs.</p>

                <h2 id="sec2">Types of lung cancer</h2>
                <p>The main types of lung cancer are: non-small cell lung cancer and (NSCLC) and small cell lung cancer (SCLC).</p>

                <h3>Non-small cell lung cancer (NSCLC)</h3>
                <p>About 80% to 85% of lung cancers are NSCLC. 
                    The main subtypes of NSCLC are adenocarcinoma, squamous cell carcinoma, and large cell carcinoma. 
                    These subtypes, which start from different types of lung cells, are grouped together as NSCLC because their treatment and prognoses (outlooks) are often similar.</p>

                <p><strong>Adenocarcinoma:</strong> Lung adenocarcinoma starts in  cells in the lung that make mucus, called epithelial cells. 
                    Epithelial cells line the surface of the lungs. 
                    Adenocarcinoma is the most common type of non-small cell lung cancer</p>

                <p>Lung adenocarcinoma occurs mainly in people who smoke or used to smoke, but it is also the most common type of lung cancer seen in people who don’t smoke. 
                    It is more common in women than in men, and it is more likely to occur in younger people than other types of lung cancer.</p>

                <p><strong>Squamous</strong> cell carcinoma: Squamous cell carcinoma starts in squamous cells, which are flat cells that line the inside of the airways in the lungs. 
                    They are often linked to a history of smoking and tend to be found in the central part of the lungs, near a main airway (bronchus).</p>

                <p><strong>Large cell (undifferentiated) carcinoma:</strong> Large cell carcinoma can appear in any part of the lung. 
                    It tends to grow and spread quickly, which can make it harder to treat. 
                    A subtype of large cell carcinoma, known as <b>large cell neuroendocrine carcinoma (LCNEC)</b>, is a fast-growing cancer that is very similar to small cell lung cancer.</p>

                <p><strong>Other subtypes:</strong> A few other subtypes of NSCLC, such as adenosquamous carcinoma and sarcomatoid carcinoma, are much less common.</p>

                <h3>Small cell lung cancer (SCLC)</h3>
                <p>About 10% to 15% of all lung cancers are SCLC.</p>
                <p>Two subtypes:
                    <ul>
                        <li>Small Cell Carcinoma (often referred to as oat cell cancer): The most common type within SCLC.</li>
                        <li>Combined Small Cell Carcinoma.</li>
                    </ul>
                </p>
                <p>This type of lung cancer tends to grow and spread faster than NSCLC. 
                    In most people with SCLC, the cancer has already spread beyond the lungs at the time it is diagnosed. 
                    Since this cancer grows quickly, it tends to respond well to <u>chemotherapy</u> and <u>radiation therapy</u>. Unfortunately, for most people the cancer will return at some point.</p>
                
                <p>Additionally, there’s a third, less common type called carcinoid lung cancer3. Remember that early detection and timely treatment are crucial for better outcomes. If you have any concerns, consult a healthcare professional promptly.</p>

                <p><strong>Source:</strong> <a href="https://www.cancer.org/cancer/types/lung-cancer/about/what-is.html">https://www.cancer.org/</a> & Microsoft copilot</p>
            </div>
        </div>
    </div>
    <script src="/static/js/dropdown.js"></script>
    <script src="https://kit.fontawesome.com/392457a8ec.js" crossorigin="anonymous"></script>
</body>
</html>