<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lung Cancer Detection</title>
    <link rel="icon" type="image/png" href="/static/img/fav_icon.png"/> 

    <link rel="stylesheet" href="/static/css/style_home.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="body_bg">
        <form class="container" action="/predict">
            <div class="box_top">
                <h1 id="heading">Lung Cancer Detector</h1>
                <p id="heading_sub">Uncomplicated and Understandable!</p>
            </div>
            <div class="box_middle">
                <p>This product involves deep learning using the 'Efficient B0' model in the CNN algorithm to predict types of lung cancer such as Normal, Adenocarcinoma, Squamous Cell Carcinoma and Large Cell Carcinoma using CT scan Images.</p>
            </div>
            <button type="submit" class="button_bottom" id="button_bottom">Check Out The Demo</button>
        </form>
    <script src="/static/js/script.js"></script>
</body>
</html>